*{
    margin: 0;
    padding: 0;
}

.kii {
    text-decoration: none;
   }

.fon {
    width: 100vw;
    height: 110vh;
    position: absolute;
    background-size: cover;
    filter:blur(48px);
    z-index:1;
}

@font-face {
    font-family: roboto_RR;
    src: url(fonts/roboto-condensed-light.woff2);
 }

.nav1 {
    font-family: 'roboto_RR', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 70px;
    background-color: rgba(62, 132, 212, 0.2);
    position: relative;
    z-index: 2;
 
}

.a1 {
    color: black;
    margin:15px 20px 0px 0px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px grey;
    padding: 0px 5px 0px 5px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    background-color: #e4e2e234;
    font-size: 1.5rem;
    font-family: 'roboto_RR', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
}

.a1:hover {
    background-color: rgba(51, 129, 160, 0.445);
    color:white;
    margin-right: 18px;
    margin-top: 20px;
    margin-bottom: 22px;
    box-sizing: content-box;
    border-radius: 5px;
}      

.main-title {
    font-family: 'roboto_RR', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    text-shadow: rgb(66, 206, 231) 5px 5px 20px;
    color: #2f2c3dcc;
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.main-title:hover {
    text-shadow: rgb(66, 124, 231) 10px 10px 30px;
}

.photo1 {
       text-align: center;
       position: relative;
       z-index: 2;
       }

.photo_img {
    border: 1px solid rgba(55, 108, 129, 0.145);
    box-shadow: 0px 0px 20px 5px #769baaa6;
    margin-bottom: 60px;
}


h2 {
    width: 20em;
    border-bottom: 1px solid #fd0000cc;
    margin-left: 40px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'roboto_RR', 'Arial Narrow', Arial, sans-serif;
    
}

.main_info {
    text-align: left;
    margin-top: 10px;
    margin-left: 100px;
        
}

div h2 {
    padding: 5px 5px;
    margin-top: 50px;
    font-family: 'roboto_RR', 'Arial Narrow', Arial, sans-serif;
}

.all_info {
    width: 800px;
    font-size: 22px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 20px 1px  rgba(243, 243, 243, 0.932), 5px 5px 10px grey;
  
}


.project {
    text-decoration: none;
    box-sizing: border-box;
    margin: 10px;
    height: 50px;
    width: 15px;
    box-shadow: inset 0 0 10px 2px  rgba(230, 230, 230, 0.829);
    border-radius: 6px;
    padding: 4px;
    margin-left: 10px;
    }

.project:hover {
    background-color: #769baaa6;
    margin-left: 11px;
    color:aliceblue;
    box-shadow: inset 0 0 10px 2px  rgba(230, 230, 230, 0.829);
}

.span_pr {
    margin: 15px;
    padding: 10px;
    font-family: 'roboto_RR', 'Arial Narrow', Arial, sans-serif;
}

#contacts {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 70px;
    background-color: rgba(62, 132, 212, 0.2);
    text-align: center;
    font: 1em sans-serif;
    font-family: 'roboto_RR', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    box-shadow: inset 0 0 10px 5px  rgba(230, 230, 230, 0.829);
}

address {
padding-top: 25px;
}

footer {
    text-align: center;
    font: 1em sans-serif;
    font-family: 'roboto_RR', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: 20px;
    display: flex;
    justify-content: center;
}
